h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*cgkqwc*_ga*MTA4NTcxNjU2My4xNjczODYyMjEz*_ga_3LRZM6TM9L*MTY4NTE4NTk4OC4xOC4xLjE2ODUxODYwMDMuNDUuMC4w");
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}